# Ignorar entorno virtual
venv/

# Ignorar archivos de Python compilados
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Ignorar variables de entorno
.env
.env.local
.env.production

# Ignorar archivos de Vercel
.vercel

# Ignorar archivos del sistema
.DS_Store
Thumbs.db

# Ignorar logs
*.log

# Ignorar archivos temporales
*.tmp
*.temp
